---
    import Layout from '../../layouts/Layout.astro';
    const image = 'https://placehold.co/800x600';
    ---

    <Layout>
      <img src={image} alt="Blog Post Image" class="w-full h-64 object-cover mb-4" />
      <h2 class="text-2xl font-bold mb-4">Advanced Typography</h2>
      {/* ... rest of the content ... */}
    </Layout>
