---
    import Layout from '../../layouts/Layout.astro';
    const image = 'https://placehold.co/800x600';
    const category = 'CSS';
    const readingTime = '3 min';
    ---

    <Layout>
      {/* ... */}
      <div class="mb-4 text-gray-600 flex justify-between">
        <span>{category}</span>
        <span>{readingTime}</span>
      </div>
      {/* ... */}
    </Layout>
